GeoAlchemy2==0.12.5
geopandas==0.12.1
geopy==2.2.0
matplotlib==3.6.1
numpy==1.23.4
pandas==1.5.1
psycopg2-binary==2.9.5
Shapely==1.8.5.post1
SQLAlchemy==1.4.42
tqdm==4.64.1
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn==0.19.0
sklearn==0.0
slugify==0.0.1
Pyomo==6.4.2
XlsxWriter==3.0.3