<button (click)="setFilter()">Фильтрация</button>
<button (click)="setOpt()">Оптимизация</button>
<div class="formFilters">
<form [formGroup]="optForm" *ngIf="isOpt" (change)="changeTypeOpt()">
  <div class="formOptim">
    <ng-container *ngFor="let optType of optTypes">
      <label>
        <input
          type="radio"
          [value]="optType"
          formControlName="optSelect"
        >
        {{ optType }}
      </label>
    </ng-container>
  </div>
</form>
<form [formGroup]="optionsForm">
    <div class="formFilters-section">
      <label class="formFilters-label">Тип объекта</label>
      <select formControlName="selectedTypes" multiple>
        <option *ngFor="let type of types">{{type}}</option>
      </select>
    </div>
    <div class="formFilters-section">
      <label class="formFilters-label">Округ</label>
      <select formControlName="selectedArea" multiple>
        <option *ngFor="let area of adm_area" value="{{area}}">{{area}}</option>
      </select>
    </div>
    <div class="formFilters-section">
      <label class="formFilters-label">Район</label>
      <select formControlName="selectedDistricts" multiple>
        <option *ngFor="let district of districts">{{district}}</option>
      </select>
    </div>
    <ng-container *ngIf="isFilters">
      <div>
        <input formControlName="onlyRecommed"
               type="checkbox"
               id="onlyRecommed"
               name="onlyRecommed"
               value="onlyRecommed"/>
        <label for="onlyRecommed">Показать рекомендованные</label>
      </div>
      <div>
        <input formControlName="onlyRecommed"
               type="checkbox"
               id="onlyRecommed"
               name="onlyRecommed"
               value="onlyRecommed"/>
        <label for="onlyRecommed">Показать запрещенные</label>
      </div>
      <div>
        <input formControlName="onlyRecommed"
               type="checkbox"
               id="onlyRecommed"
               name="onlyRecommed"
               value="onlyRecommed"/>
        <label for="onlyRecommed">Показать допустимые</label>
      </div>
      <div>
        <input formControlName="onlyRecommed"
               type="checkbox"
               id="onlyRecommed"
               name="onlyRecommed"
               value="onlyRecommed"/>
        <label for="onlyRecommed">Показать фиксированные</label>
      </div>
    </ng-container>
  <ng-container *ngIf="isOpt">
    <label >Количество постаматов:</label>
    <input type="number" formControlName="postamatQuant" class="formFilters-counter"
           min="10" max="5000">
    <div>
      <label >Важность метро</label>
      <input formControlName="metroImportance" type="range" min="0" max="1" [step]="0.1">
    </div>
    <div *ngIf="this.selectedOptimization==='2'">
      <label >Приоритет больших домов</label>
      <input formControlName="large_houses_priority" type="range" min="0" max="1" [step]="0.1">
    </div>
    <div *ngIf="this.selectedOptimization==='1'">
      <label >Предельное количество минут,что бы дойти до постомата:</label>
      <input type="number" formControlName="max_time" class="formFilters-counter"
             min="1" max="25">
    </div>
    <div *ngIf="this.selectedOptimization==='1'">
      <label >Время работы оптимизатора в секундах:</label>
      <input type="number" formControlName="opt_time" class="formFilters-counter"
             min="3" max="30">
    </div>

  </ng-container>
    <button (click)="test()">применить</button>
    <button (click)="test1()">отменить</button>
    <button (click)="test2()" *ngIf="isOpt" [disabled]="!selectedOptimization">отптимизировать</button>

</form>
</div>
