<button (click)="setFilter()" class="filters-button-f" [class.selected]="isFilters">
    <div>Фильтрация</div>
</button>
<button (click)="setOpt()" class="filters-button-o" [class.selected]="isOpt">
    <div class="filters-button-text">Оптимизация</div>
</button>
<div class="formFilters">
    <form [formGroup]="optForm" *ngIf="isOpt" (change)="changeTypeOpt()">
        <div class="formOptim">
            <ng-container *ngFor="let optType of optTypes">
                <label class="filters-radio">
                    <input class="radio"
                           type="radio"
                           [value]="optType"
                           formControlName="optSelect"
                    >
                    <div class="label-radio">  {{ optType }}</div>
                </label>
            </ng-container>
        </div>
    </form>
    <form [formGroup]="optionsForm">
        <div class="formFilters-section">
            <label class="formFilters-label">Тип объекта</label>
            <select formControlName="selectedTypes" multiple class="filters-multiple">
                <option class="filters-option" *ngFor="let type of types">{{type}}</option>
            </select>
        </div>
        <div class="formFilters-section">
            <label class="formFilters-label">Округ</label>
            <select formControlName="selectedArea" multiple class="filters-multiple">
                <option class="filters-option" *ngFor="let area of adm_area" value="{{area}}">{{area}}</option>
            </select>
        </div>
        <div class="formFilters-section">
            <label class="formFilters-label">Район</label>
            <select formControlName="selectedDistricts" multiple class="filters-multiple">
                <option class="filters-option" *ngFor="let district of districts">{{district}}</option>
            </select>
        </div>
        <div class="filters-points" *ngIf="isFilters">
            <div>
                <input class="filters-check-input"
                       formControlName="onlyRecommed"
                       type="checkbox"
                       id="onlyRecommed"
                       name="onlyRecommed"
                       value="onlyRecommed"/>
                <label for="onlyRecommed" class="filters-check">
                    <div class="filters-check-text">Показать рекомендованные</div>
                </label>
            </div>
            <div>
                <input formControlName="onlyBan"
                       type="checkbox"
                       id="onlyBan"
                       class="filters-check-input"
                       name="onlyBan"
                       [value]="true"/>
                <label for="onlyBan" class="filters-check">
                    <div class="filters-check-text">Показать запрещенные</div>
                </label>
            </div>
            <div>
                <input formControlName="onlyDop"
                       type="checkbox"
                       id="onlyDop"
                       class="filters-check-input"
                       name="onlyDop"
                       value="onlyDop"/>
                <label for="onlyDop" class="filters-check">
                    <div class="filters-check-text">Показать допустимые</div>
                </label>
            </div>
            <div>
                <input formControlName="onlyFix"
                       type="checkbox"
                       id="onlyFix"
                       name="onlyFix"
                       class="filters-check-input"
                       value="onlyFix"/>
                <label for="onlyFix" class="filters-check">
                    <div class="filters-check-text">Показать фиксированные</div>
                </label>
            </div>
        </div>
        <ng-container *ngIf="isOpt">
            <div class="filter-dop">
                <label>
                    <div class="filter-text">Количество постаматов:</div>
                </label>
                <input type="number" formControlName="postamatQuant" class="input-count"
                       min="1" max="5160"></div>
            <div class="filter-dop">
                <label>
                    <div class="filter-text">Важность метро:</div>
                </label>
                <input formControlName="metroImportance" type="range" min="0" max="1" [step]="0.1">
            </div>
            <div *ngIf="this.selectedOptimization==='Эвристическая модель на основе kmeans'" class="filter-dop">
                <label>
                    <div class="filter-text">Приоритет больших домов:</div>
                </label>
                <input formControlName="large_houses_priority" type="range" min="0" max="1" [step]="0.1">
            </div>
            <div *ngIf="this.selectedOptimization==='Оптимизация на основе солвера'" class="filter-dop">
                <label>
                    <div class="filter-text">Предельное количество минут,что бы дойти до постомата:</div>
                </label>
                <input type="number" formControlName="max_time" class="input-count"
                       min="1" max="100">
            </div>
            <div *ngIf="this.selectedOptimization==='Оптимизация на основе солвера'" class="filter-dop">
                <label>
                    <div class="filter-text">Время работы оптимизатора в секундах:</div>
                </label>
                <input type="number" formControlName="opt_time" class="input-count"
                       min="50" max="1000">
            </div>

        </ng-container>
        <div class="filters-buttons">
            <button class="button-f" (click)="test()" *ngIf="isFilters">применить</button>
            <button class="button-f2" (click)="test2()" *ngIf="isOpt" [disabled]="!selectedOptimization">оптимизировать
            </button>
            <button class="button-f" (click)="test1()">отменить</button>
        </div>
    </form>
</div>
